.frame{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    background-color: #e6904e;
    display: flex;
}
.sideNav{
    flex: 35%;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px #6e2727;
}

#avatar{
        border: 4px solid #ae2334;
}
.mainContent{
    margin: 0 auto;
    width: 100%;
}

.navigation{
    border: 4px solid #ae2334;
    flex:1;
    padding: 5px 0;
    margin-top: 100px;
    // width: 100%;
    background-color:#f9c22b;

    a{
        text-decoration: none;
    }
    
    a:not(:last-child){
        margin-right:5px;
    }

    .pixel-corners {
        all: initial;
    * {
        all: unset;
    }
    padding: 10px 20px;
    background-color: #ae2334;
    color:white;
    clip-path: polygon(
        0px calc(100% - 8px),
        4px calc(100% - 8px),
        4px calc(100% - 4px),
        8px calc(100% - 4px),
        8px 100%,
        calc(100% - 8px) 100%,
        calc(100% - 8px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) calc(100% - 8px),
        100% calc(100% - 8px),
        100% 8px,
        calc(100% - 4px) 8px,
        calc(100% - 4px) 4px,
        calc(100% - 8px) 4px,
        calc(100% - 8px) 0px,
        8px 0px,
        8px 4px,
        4px 4px,
        4px 8px,
        0px 8px
        );
    font-family: pixel;
    font-size: 20px;
    box-shadow: 5px 5px #6e2727;
    }
    .pixel-corners:hover{
         transition: color 0.20s,  background-color 0.20s;
        background-color:  #6e2727;
        color: #e6904e   ;
    }

}