.frame {
  text-align: center;
  width: 61%;
  margin: 0 auto;
  background-color: #f9c22b;
  display: flex;
  margin-top: 50px;
  height: 90vh;
  clip-path: polygon(
    0px calc(100% - 40px),
    8px calc(100% - 40px),
    8px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 8px),
    40px calc(100% - 8px),
    40px 100%,
    calc(100% - 40px) 100%,
    calc(100% - 40px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 8px) calc(100% - 40px),
    100% calc(100% - 40px),
    100% 40px,
    calc(100% - 8px) 40px,
    calc(100% - 8px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 8px,
    calc(100% - 40px) 8px,
    calc(100% - 40px) 0px,
    40px 0px,
    40px 8px,
    24px 8px,
    24px 16px,
    16px 16px,
    16px 24px,
    8px 24px,
    8px 40px,
    0px 40px
  );
}
.sideNav {
  flex: 36%;
  font-size: 20px;
  color: white;
  text-shadow: 3px 3px #6e2727;
}

#banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#avatar {
  width: 265px;
  margin: 15px 15px 5px 15px;
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}
.welcome {
  width: 265px;
  margin: 5px auto;
  font-size: 35px;
  background-color: #6e2727;
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px
  );
}
.me {
  display: block;
  border-right: 8px solid #ae2334;
  height: 90vh;
  background-image: linear-gradient(
    #ee7d319b,
    #f9c22b,
    #f9c22b,
    #f9c22b,
    #ee7d319b
  );
}

.socials {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 265px;
}

.social {
  background-color: #ae2334;
  padding: 10px;
  height: 40px;
  width: 40px;
  clip-path: polygon(
    0px calc(100% - 12px),
    6px calc(100% - 12px),
    6px calc(100% - 6px),
    12px calc(100% - 6px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 6px) 12px,
    calc(100% - 6px) 6px,
    calc(100% - 12px) 6px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 6px,
    6px 6px,
    6px 12px,
    0px 12px
  );
  &:hover {
    transition:
      color 0.2s,
      background-color 0.2s;
    background-color: #6e2727;
  }
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 5px 0;
  background-color: #3a0e0e;
  border-top: 3px solid #66151e;
  border-bottom: 3px solid #ee7d319b;

  a {
    text-decoration: none;
  }

  .pixel-corners {
    all: initial;
    * {
      all: unset;
    }
    padding: 10px 20px;
    background-color: #ae2334;
    color: white;
    clip-path: polygon(
      0px calc(100% - 8px),
      4px calc(100% - 8px),
      4px calc(100% - 4px),
      8px calc(100% - 4px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 4px) 8px,
      calc(100% - 4px) 4px,
      calc(100% - 8px) 4px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 4px,
      4px 4px,
      4px 8px,
      0px 8px
    );
    font-family: pixel;
    font-size: 24px;
    box-shadow: 5px 5px #6e2727;
  }
  .pixel-corners:hover {
    transition:
      color 0.2s,
      background-color 0.2s;
    background-color: #6e2727;
    color: #ffcd45c4;
  }
}
.mainContent {
  margin: 0 auto;
  width: 100%;
}
#flex1 {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(#ee7d319b, #f9c22b, #ee7d319b);
}

#flex3 {
  overflow-y: auto;
  height: 63vh;
  padding: 8px;
  padding-top: 5px;
  font-family: body-pixel;
  font-size: 10px;
  color: #3a0e0e;
  background-image: linear-gradient(#f9c22b, #f9c22b, #f9c22b, #ee7d319b);
  scrollbar-color: #3a0e0e #ae2334;
  scrollbar-width: 10px;
}

#gr_challenge_11680 {
  margin: 5px auto;
  padding: 10px 0;
  max-width: 265px;
  text-shadow: none;
  background-color: #6e2727;
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}

#gr_challenge_progress_body_11680 {
  margin: 0 8px;
  font-size: 18px;
  line-height: 18px;
}

#challange_heading {
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  a {
    color: #ffcd45;
  }
  a:hover {
    color: #ffcd4586;
  }
}

#challange_body {
  font-family: body-pixel;
  font-size: 20px;
  a {
    color: #ffcd45;
    text-decoration: none;
  }
  a:hover {
    color: #ffcd4586;
  }
}
#heading_link {
  text-decoration: none;
  font-style: italic;
  font-size: 1.1em;
}

.challengePic {
  float: left;
  margin-right: 10px;
  border: 0 none;
  width: 75px;
  height: 75px;
}

#div_1 {
  width: 60%;
  margin: 5px auto;
  height: 8px;
  overflow: hidden;
  background-color: #fff;
}

#div_2 {
  width: 8%;
  background-color: #ae2334;
  float: left;
}
#div_3 {
  visibility: hidden;
}

#progress {
  font-size: 90%;
}
