.aboutme {
  text-align: left;
  margin-left: 16px;
}
.content {
  height: 100%;
  padding-top: 5px;
  font-family: text-pixel;
  font-size: 10px;
  color: rgb(27, 3, 3);
  background-image: linear-gradient(
    #ee7d319b,
    #f9c22b,
    #f9c22b,
    #f9c22b,
    #ee7d319b
  );
}
