.aboutme {
  text-align: left;
  margin: 0px 30px;
}

.head{
  font-size: 40px;
  text-align: center;
}
.body{
  font-size: 35px;
  text-align: center;
}
.emoji{
  font-family:'Courier New', Courier, monospace
}