.content {
  display: flex;
  gap: 10px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content::after {
  content: "";
  flex: auto;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  margin: 5px;
}

.cover {
  margin: 0 auto;
}
.title {
  font-size: 28px;
  margin: 4px auto 0 auto;
  line-height: 0.8;
}

.author {
  font-size: 20px;
  margin: 0 auto;
}

.heart {
  width: 25px;
}

.rating {
  display: flex;
  margin: 0 auto;
}

.bookProgress {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.percentage {
  font-size: 20px;
  margin: 0;
}

progress {
  display: block;
  margin: 0;
  border: none;
  background-color: #3a0e0e62;
  height: 15px;
  width: 150px;
}

progress::-webkit-progress-bar {
  background: #3a0e0e62;
  border: none;
  padding: 2px;
}
progress::-moz-progress-bar {
  background: #3a0e0e;
  border: none;
  padding: 2px;
}

progress::-webkit-progress-value {
  background: #3a0e0e;
  border: none;
}
.cover {
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}
