@font-face {
  font-family: pixel;
  src: url(./static/Arcade.ttf);
  font-weight: bolder;
}

body {
  margin: 0;
  font-family: pixel;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
